.wrapper.post {
  max-width: 45em;
}

article.post {
  font-family: $body-font-family;

  h1,
  h2,
  h3,
  h4,
  h5 {font-family: $heading-font-family;}

  h1 {
    font-size: 270%; line-height: 1;
    
    @include media-query($on-palm) {
      font-size: 220%;
    }
  }

  h2 {
    font-size: 230%;
    
    @include media-query($on-palm) {
      font-size: 200%;
    }
  }

  h3 {
    font-size: 200%;
    
    @include media-query($on-palm) {
      font-size: 180%;
    }
  }

  h4 {
    font-size: 180%;
    
    @include media-query($on-palm) {
      font-size: 140%;
    }
  }

  h5 {
    font-size: 140%;
    
    @include media-query($on-palm) {
      font-size: 120%;
    }
  }

  li {
    margin-bottom: 1em;

    p {
      margin-top: .5em;
    }
  }

  .small-caps {
    font-style: initial;
    font-variant: small-caps;
  }

  .underline {
    font-style: initial;
    text-decoration: underline;
  }

  q {
    opacity: .9;
  }

  blockquote {
    font-size: 120%;
    width: 80%;

    @include media-query($on-palm) {
      background-color: rgba($brand-color, .05);
      border: 0;
      font-size: 100%;
      margin: 0 -1em 1em;
      padding: 1em;
      width: 100vw;
    }
  }

  .site-title {
    opacity: .1;
  }

  .half-width {
    @include span-columns(6);
    @include omega();
    padding-top: 1em;

    @include media-query($tiny) {
      float: initial;
      width: 100%;
    }

    &.small-pop {
      @include media-query($on-palm) {
        float: none;
        width: initial;
      }
    }
  }

  .right {
    float: right;
    margin-left: 1em;
  }

  .left {float: left;}

  figure {

    @include media-query($on-palm) {
      margin-left: .5em;

      &:not(.half-width) {
        margin-left: 0;

        >p {
          margin: 0 -1em;
        }
      }
    }

    img {
      width: 100%;
    }

    iframe {
      border: 0;
      height: 40vh;
      width: 100%;
    }

    //blockquote {}

    figcaption {
      font-size: 85%;
      font-weight: lighter;
      padding: .5em 1em;

      //cite {}

      @include media-query($on-palm) {
        font-size: 75%;
        padding: initial;
      }
    }
  }

  sup {
    font-size: 75%;
  }
}
