.footnotes {
  border-top: 1px solid $grey-color-light;
  font-size: 80%;
  margin-top: 4em;
  padding-top: 1em;

  li {
  	-webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
  }
}
